{% extends "base.html" %}

{% block title %}
SHORT URL
{% endblock title %}

{% block content %}
<div class="cover-container d-flex p-3 mx-auto flex-column" style="margin-top: 40vh;">
  <main role="main" class="inner cover">
    <h1 class="cover-heading">Success!</h1>
    <p class="lead">Given URL: {{l_url}}</p>
    <p class="lead">Short URL: 127.0.0.1:8000/{{s_url}}</p>
    <p class="lead">
      <a href="/" class="btn btn-lg btn-primary">+ New</a>
    </p>
  </main>
</div>
{% endblock content %}
